<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">

</div>
<div>
    <app-form-input></app-form-input>
</div>-->
<div *ngIf="route.routerState.snapshot.url.includes('login')">
    <login-comp></login-comp>
</div>
 <div *ngIf="route.routerState.snapshot.url.includes('sec-form')"> 
    <ex3form-comp></ex3form-comp>
</div>


<!-- <div *ngIf="this.router=='sec-form'"> -->
                                                            <!-- <ex3form-comp></ex3form-comp> -->
<!-- </div> -->
<div *ngIf="route.routerState.snapshot.url.includes('clinic-form')">
    <app-form-input></app-form-input>
</div>
<div *ngIf="route.routerState.snapshot.url.includes('json-server-data')">
    <json-server-comp></json-server-comp>
</div>

<!-- <router-outlet></router-outlet> -->